<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.suser.mapper.AdminMapper" >


  <insert id="testTX">
    INSERT  INTO auth_role(role_name, role_grade) VALUES ("测试角色u","场站级")
  </insert>
</mapper>